.menu {
    background-color: powderblue;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid ;
}